*.json filter=lfs diff=lfs merge=lfs -text
data/**/*.json filter=lfs diff=lfs merge=lfs -text
data/Stage[[:space:]]3[[:space:]]-[[:space:]]Topic[[:space:]]Modelling/output/Bert_cosine_average_Discord_dt-2.0_vw-0.75_ow-0.25/Discord_general_hierarchy.json filter=lfs diff=lfs merge=lfs -text
data/Stage[[:space:]]3[[:space:]]-[[:space:]]Topic[[:space:]]Modelling/output/Bert_cosine_average_com.openai.chatgpt_dt-2.0_vw-0.75_ow-0.25/com.openai.chatgpt_general_hierarchy.json filter=lfs diff=lfs merge=lfs -text
data/Stage[[:space:]]3[[:space:]]-[[:space:]]Topic[[:space:]]Modelling/output/Bert_cosine_average_com.whatsapp_dt-2.0_vw-0.75_ow-0.25/com.whatsapp_general_hierarchy.json filter=lfs diff=lfs merge=lfs -text
