[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = ">=2.0,<3.0"
stanza = "*"
joblib = "*"
scikit-learn = "*"
matplotlib = "*"
transformers = "*"
contractions = "*"
spacy = "*"
pyspellchecker = "*"

[requires]
python_version = "3.9"